/* 🔶 HEADER */
header {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Augmente l'espacement entre les icônes */
    padding: 30px 10px; /* Ajoute du padding en haut et en bas */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    animation: scale-up-ver-bottom 0.5s ease-in-out;

}

/* Supprimer les puces */
li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Masquer le texte des liens */
li a {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

/* Afficher le texte au hover */
li:hover a {
    opacity: 1;
    max-height: 20px;
}

/* Agrandir l'icône au hover */
li:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Ajuster la taille des icônes */
img {
    width: 30px;
    height: 30px;
}


nav {
    padding: 20px 0; /* Ajoute de l’espace en haut et en bas */
}

nav::before,
nav::after {
    content: "";
    display: block;
    height: 20px; /* Espace supplémentaire pour agrandir le rectangle */
}