<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{titre}</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <img src="../assets/img/logo/home-button-pixel.png" alt="Homepage Button">
                <a href="index.html">Accueil</a>
            </li>
            <li>
                <img src="../assets/img/logo/build-pixel.png" alt="Project in progress">
                <a href="projects.html">Projects</a>
            </li>
            <li>
                <img src="../assets/img/logo/cv-pixel.png" alt="Cv Icon">
                <a href="experiences.html">Experiences</a>
            </li>
            <li>
                <img src="../assets/img/logo/user-icon-pixel.png" alt="User icon">
                <a href="about.html">About me</a>
            </li>
            <li>
                <img src="../assets/img/logo/logo-lang/logo-github.png" alt="GitHub">
                <a href="https://github.com/MarieNICOLAS" target="_blank">Github</a>
            </li>
            <li>
                <img src="../assets/img/logo/logo-lang/logo-linkelin.png" alt="LinkedIn">
                <a href="https://www.linkedin.com/in/marie-nicolas-615a3920b" target="_blank">LinkedIn</a>
            </li>
            <li>
                <img src="../assets/img/logo/contact-me-pixel.png" alt="Email">
                <a href="mailto:marie.7829@hotmail.fr">Contact</a>
            </li>
        </ul>

    </nav>
</header>
